modules = ["nodejs-24", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 19494
externalPort = 80

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BGmc5ftxoM6jT7QVXDouPP6jJ5mVBKt11g2Ba_HWH1BWxNpTUQoEocrNfZ4P8Ex_K8u_xZeqAJ5yIkhlaWAGD2c"
VAPID_PRIVATE_KEY = "ZLfAZ3j1Lhc5F817WwelAX4H5f-s74ftoGgsvru4P28"
VAPID_SUBJECT = "mailto:admin@maxihubtt.com"
PORT = "8080"
SUPABASE_DB_HOST = "aws-1-us-east-2.pooler.supabase.com"
SUPABASE_DB_USER = "postgres.bfufjqlofylnjamfoorb"

[nix]
channel = "stable-25_05"
